.footer {
  background-color: $bg-grey;
}

.footer__block {
  width: 100%;

  &--logo {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 27px;
  }

  &--copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 22px;
  }
}

.footer__developer {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}

.footer__developer-icon {
  fill: $footer-icon;
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 63px;
    padding-bottom: 47px;
  }

  .footer__wrapper {
    display: flex;
    align-items: center;
  }

  .footer__block {
    text-align: left;
    padding: 0;

    &--logo {
      justify-content: flex-start;
      width: 22.88%;
    }

    &--copyright {
      justify-content: flex-end;
      width: 22.88%;
    }

    &--social {
      width: 54.24%;
    }
  }

  .footer__developer {
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .footer__block {

  }
}
