.instruction {
  padding-top: 20px;
  padding-bottom: 20px;
}

.instruction__title {
  @include title;

  margin-top: 0;
  margin-bottom: 40px;
}

.instruction__list {
  @include list-unstyle;
}

.instruction__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.instruction__illustration {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: $firmcolor;
}

.instruction__image {
  margin: auto;
}

.instruction__text {
  font-family: "Arial", sans-serif;
  width: calc(100% - 80px);
  margin: 0;
}

@media (min-width: $tablet-width) {
  .instruction {
    padding-top: 50px;
  }

  .instruction__title {
    font-size: 60px;
    margin-bottom: 70px;
  }

  .instruction__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 72px;
  }

  .instruction__item {
    flex-wrap: wrap;
    align-items: flex-start;
    width: 35.31%;
    margin-bottom: 132px;
  }

  .instruction__illustration {
    margin-bottom: 35px;
  }

  .instruction__text {
    width: 100%;
  }
}
