.title-block {
  padding-top: 25px;
  padding-bottom: 25px;
}

.title-block__title {
  @include title;

  margin: 0;
}

.title-block__text {
  text-transform: uppercase;
  color: $textdark;
  width: 85%;
  margin-top: 22px;
  margin-bottom: 0;
}
